@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');



*{
    box-sizing: border-box;
   
    font-family: "PT Serif", serif;
    }

    body{
        margin: 0;
    }

    header >img{
        width: 120px;
    }

    header{
        display: flex;
        justify-content: space-between;
        max-width: 1200px; /* define a largura maxima da linha*/
        margin: 0 auto;
        align-items: center;  /*centralizacao vertical dos elementos*/
        padding: 35px 20px;
    }

    #menu{
        display: flex;
        /* flex-wrap: wrap; */
        gap: 10px; /* espeço entre o elemento do menu*/
        list-style: none; /* tira o marcador da lista/remove a bolinha*/
    }

    #menu a{
        text-decoration: none; /* remove o sublinhado do link*/
        color: #000;  /*muda a cor do texto*/
        padding: 8px 18px; /* define o espaço interno do elemento*/
        font-size: 1.5rem; /*ajusta a resoluçao da fonte rem e uma medida de fonte responsiva */
    }
    
    #perfil{
    display: grid;
    grid-template-columns: 1fr 2fr;
    max-width: 1200px;
    margin: 0 auto;
    padding: 35px 20px; 
    gap: 110px;
    align-items: center;
    color: #071257;
    }
#perfil-dados > h1{
    font-size: 4rem;
    line-height: 1.4; /*ele da um afastamento de uma linha e outra*/
    /* letter-spacing: ; espaçamentos das letras */
    font-weight: 400;
    font-style: italic;
}
#perfil-dados > h2{
    padding-bottom: 0px;    
    margin-bottom: 0px;
}
#perfil-dados >p{
    margin-top: 0px;
    color: #6e6d6d;
}
    /* seçao projeto - INICIO */
#projetos{
    display:grid;
    grid-template-columns: 1fr 2fr;
    max-width: 1200px;
    margin: 0 auto;
    gap: 110px;
}
#projetos h2{
    font-size: 8rem;
    line-height: 1; 
    text-transform: uppercase; /*transforma o testo em maiusculo*/
    word-break: break-all; /* quebra de caractere*/
    max-width: 4ch; /* espaçamento entre os caractere*/
    color: #202d73;
}

    /* pra dar destaque no meio da frase  */
.principal-destaque{
    font-weight: bold;
    background: #202c73;
    padding: 4px;
    border-radius: 2px 6px;
    color: #fff;
}

#projetos-textos-principal{
    line-height: 1.8;
    font-size: 1.8rem;
    margin-bottom: 4rem;
}

#projeto-lista{
    background: #071257b6 ;
    display: grid; 
    grid-template-columns: 1fr 1fr; /*templete modelo padrao( fr divide os tamanho iguais)*/
    /* grid-template-columns: repeat(2.1fr); ou usar da no mesmo padrao*/
    color: #fff;
    padding:20px;
    gap: 20px;
    border-radius: 5px;
    margin-top: 15px;
}

#projeto-lista h3{
    margin: 0;
    padding: 0;
    font-size: 1.2rem;
}

#projeto-lista p{
    margin: 0;
    padding: 0;
    color: #b9b8b8;
}

#projetos-tags{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 10px;
    align-items: start; /* alinhamento vertical/*
    /* start =inicio
    center = centro
    end = final
     */
              
}

#projetos-tags li{
background-color: #fff;
color: #000000;
border-radius: 4px;
padding: 4px 8px;
        

}
    /* sessao projeto - FINAL */
    /* inicio da sessao cursos */
#cursos{
background-color: #071257b6;
margin-top: 50px;
}

#cursos-grid{
display: grid;
grid-template-columns: 1fr 2fr;
max-width: 1200px;
margin: 0 auto;
gap: 110px;
}

#cursos-grid h2{
    font-size: 8rem;
    color: #fff;
    word-break: break-all;
    max-width: 4ch; 
    text-transform: uppercase;
}

.destaque-final{
    font-weight: bold;
    background: #fff;
    border-radius: 2px 6px;
    color: #202c73ee;
    margin-top: 50px;
    }

#cursos-texto-principal{
    margin-top: 40px;
    font-size: 1.2rem;
    color: #b9b8b8;
}

.conteiner-final{
    display: flex;
    gap: 25px;
    flex-wrap: wrap;

}

.curso{
    display: flex;
    flex: 1;
    background: #202c73;
    padding: 25px;
    border-radius: 4px;
    margin-top: 40px;
    flex-direction: column;
}

.primeiro,.terceiro{
    font-size: 0.97rem;
    color: #a19e9e;
}

.segundo{
    font-size: 1rem;
    color: #db2424;
}

#cursos-complementares{
    margin-top: 40px;
}
#cursos-complementares h3{
    color: #a19e9e;
}

.cursos-complementares-itens{
    display: flex;
    justify-content: space-between;
}

.idiomas-cinza{
    font-weight: bold;
    color: #ffffffee;
}
/* inicio footer */
footer{
    /* background: #202c73ee; */
    padding: 40px;
    
    
}

#footer-conteudo{
    max-width: 1200px;
    margin: 0 auto;
}
#form-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin-bottom: 20px;
}

#form-grid input, select{
    padding: 12px 20px;
    border: 2px solid #202d73;
    border-radius: 4px;

    
}
.btn-contato{
    padding: 12px 20px;
    background: #202d73;
    color: #ffffff;
    text-transform: uppercase;
    margin: 20px auto;
    font-size: 1.3rem;
    border: none;
    border-radius: 4px;
}
#footer-conteudo h2{
    font-size: 5rem;
    text-transform: uppercase;
    text-align: center;
    color: #202c73;
}




/* final footer */
    
    




    
